body {
    background: linear-gradient(rgb(172, 80, 172), rgb(98, 87, 194), rgb(99, 99, 221), rgb(172, 80, 172));
    color: black;
    font-family: Fjalla One, "Arial;
  }
  
  form {
    line-height: 25px;
  }
  
  h1 {
    font-size: 3em;
    overflow: break;
    text-align: center;
  }
  
  .overlay {
    width: 80%;
    min-width: 30%;
    margin: 3% auto;
    display: block;
    padding: 2%;
    height: 90vh;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 40px;
    text-align: center;
  }
  
  footer {
    display: block;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
  
  .but-lo {
    text-align: center; margin-top: 5%;
  }
  
  .but-in {
    text-align: center; margin-top: 2%;
  }