<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Accueil</title>
</head>

<body>
    <h1>Accueil</h1>
    <div class="but-lo">
        <button onclick="window.location.href='login.html';">
            <h2>Connexion</h2>
        </button>
    </div>
    <div class="but-in">
        <button onclick="window.location.href='singup.html';">
            <h2>Inscription</h2>
        </button>
    </div>

    <footer>
        <p>Auteurs: Léa, Cyrian, Malory et Arthur</p>
    </footer>
</body>

</html>