<!DOCTYPE html>
<html lang="fr" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Connexion</title>
</head>

<body>
    <section class="overlay">
        <h1>Connexion</h1>
        <button onclick="window.location.href='index.html';">
            <h2>Accueil</h2>
        </button>
        <p>Connectez-vous avec votre compte : </p>
        <form>
            <label for="username">Nom : </label>
            <br>
            <input id="username" name="username" type="text" required minlength="3" maxlength="15">
            <br>
            <label for="pw">Mot de passe : </label>
            <br>
            <input id="pw" name="pw" type="password" required minlength="8" maxlength="15">
            <br>
            <input type="submit" value="Submit">
        </form>
    </section>

</body>

</html>